* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	background-color: #f5f5f5;
	font: 400 1rem 'Open Sans', sans-serif;
}

header {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: #333;
}

h2 {
	font: 600 1.6rem/3rem 'Open Sans', sans-serif;
}

h3 {
	font: 400 1.2rem 'Open Sans', sans-serif;
}

p {
	font: 400 1rem 'Open Sans', sans-serif;
	color: #333;
}

footer {
	float: left;
	margin-top: 50px;
	height: 500px;
	width: 100%;
	background-color: #efefef;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
}

.negative {
	color: #fff;
}

.negative:hover {
	text-decoration: underline;
}

form {
	margin-top: 1rem;
}

li {
	list-style: none;
	margin-bottom: 1rem;
}

label {
	display: inline-block;
	min-width: 100px;
	font: 600 1rem/2rem 'Open Sans', sans-serif;
}

input {
	font: 400 1.2rem 'Open Sans', sans-serif;
	padding: 0.2rem 0.5rem;
	margin-bottom: 1rem;
}

input:focus {
	outline: 0;
}

nav {
	margin: auto;
	width: 800px; /* temp */
	max-width: 800px;
	font: 600 1rem 'Open Sans', sans-serif;
	color: #fff;
}

.nav-data {
	width: 80%;
	float: left;
}

.publish {
	float: left;
}

.publish-num {
	float: left;
	margin: 0 1rem;
	padding: 0 0.5rem;
	background-color: #cac714;
	border-radius: 5px;
	color: #000;
}

.login {
	width: 20%;
	float: right;
	text-align: right;
}

.user {
	color: #cac714;
}
.error {
	color: #ff0000;
	position: relative;
	top: -1rem;
}

.red {
	color: #bf0000;
	font: 600 1.2rem 'Open Sans', sans-serif;
}

.center {
	text-align: center;
}

.icon {
	position: relative;
	top: 0.2rem;
	width: 1rem;
	height: 1rem;
	opacity: 0.6;
}

.icon:hover {
	opacity: 1;
}

.titol-enllac {
	color: #bf0000;
}

.wrapper {
	width: 90%;
	margin: auto;
}

.wrapper-hosts {
	max-width: 1200px;
}

.container {
	margin: auto;
	max-width: 800px;
	padding-top: 110px;
}

.flash {
	width: 100vw;
	position: absolute;
	top: 50px;
	left: 0;
	text-align: center;
	background-color: rgba(191, 0, 0, 0.2);
	z-index: 5;
}

.flash-message {
	font: 400 1rem/3rem 'Open Sans', sans-serif;
	color: #bf0000;
}

.table {
	margin: 1rem auto;
	border-collapse: collapse;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.table-header .header-row {
	background-color: #333;
	color: #fff;
	font-weight: 600;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	margin-top: 1rem;
}

.row,
.header-row {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 0.5rem;
	border-top: 1px solid #eee;
}

.row-category {
	background-color: rgba(255, 98, 0, 0.2);
	color: #ff6200;
	padding-left: 1rem;
}

.big-cell {
	width: 400px;
}

.medium-cell {
	width: 200px;
}

.small-cell {
	width: 80px;
}

.cell {
	padding: 0 0.5rem;
	justify-content: center;
	min-width: 50px;
}

button,
input[type=submit] {
	float: left;
	clear: right;
	min-width: 100px;
	margin: 1rem;
	margin-left: 0;
    background-color: #fff;
    color: #bf0000;
	font: 600 1rem 'Open Sans', sans-serif;
    border: 2px solid #bf0000;
    padding: 0.4rem 0.8rem;
    transition: background-color 0.2s, color 0.2s;
}

button:hover,
input[type=submit]:hover {
    background-color: #bf0000;
    color: #fff;
}

button:active,
button:focus,
input[type=submit]:active,
input[type=submit]:focus {
	outline: 0;
    background-color: #ff1919;
    color: #fff;
}


