* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	font: 400 0.9rem 'Open Sans', sans-serif;
	background-color: #f5f5f5;
}

h1 {
	font: 600 1.6rem/3rem 'Open Sans', sans-serif;
	color: #bf0000;
}

h2 {
	font: 600 1.4rem/3rem 'Open Sans', sans-serif;
	display: block;
}

h3 {
	font: 400 1.2rem/2.5rem 'Open Sans', sans-serif;
	color: #bf0000;
}

p {
	font: 400 1rem 'Open Sans', sans-serif;
	color: #333;
}

header {
	position: fixed;
	width: 100%;
	background-color: #333;
	z-index: 10;
}

.container {
	width: 100%;
	padding-top: 50px;
	display: flex;
}

.left-bar {
	width: 20%;
	max-width: 200px;
	min-height: calc(100vh - 50px);
	background-color: #fff;
}

.left-bar-content {
	padding: 0.5rem;
}

.wrapper {
	position: relative;
	width: 80%;
	flex-grow: 1;
	padding: 0.5rem;
	border-left: 2px solid #e9e9e9;

}

.wrapper-object {
	/**/
}

.wrapper-modal {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #eee;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 200px;
	width: 300px;
	margin-top: -100px;
	margin-left: -150px;
	background-color: #fff;
	padding: 1rem;
	text-align: center;
	font: 600 1.3rem/3rem 'Open Sans', sans-serif;
	color: #bf0000;
	border-radius: 2%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

footer {
	width: 100%;
	padding: 0.5rem;
	background-color: #efefef;
	height: 500px; /* provissional */
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
}

.negative {
	color: #fff;
}

.negative:hover {
	text-decoration: underline;
}

form {
	margin-top: 1rem;
}

li {
	list-style: none;
}

label {
	display: inline-block;
	font: 600 0.9rem/2rem 'Open Sans', sans-serif;
}

input {
	font: 400 1.1rem 'Open Sans', sans-serif;
	padding: 0.2rem 0.5rem;
	margin-bottom: 1rem;
}

input:focus {
	outline: 0;
}

select {
	padding: 0.2rem 0.5rem;
	padding-right: 3rem;
	font: 400 1.3rem 'Open Sans', sans-serif;
	border: 1px solid #999;
	margin-bottom: 1rem;
	background: url('../img/down_arrow.png') no-repeat right #ddd;
	border-radius: 0;
	-webkit-appearance: none;
}

select:focus {
	outline: 0;
}

nav {
	width: 100%;
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	margin: auto;
	font: 600 1rem 'Open Sans', sans-serif;
	color: #fff;
}

.nav-home,
.nav-login {
	flex-basis: 20%;
}

.nav-data {
	flex-grow: 2;
	text-align: center;
}

.nav-login {
	text-align: right;
}

.publish-num {
	display: inline-flex;
	margin: 0 1rem;
	padding: 0 0.5rem;
	background-color: #cac714;
	border-radius: 15%;
	color: #000;
}

.user {
	color: #cac714;
	margin-right: 1rem;
}

.error {
	color: #ff0000;
	position: relative;
	top: -1rem;
}

.red {
	color: #bf0000;
	font: 600 1rem 'Open Sans', sans-serif;
}

.center {
	text-align: center;
}

.icon {
	position: relative;
	top: 0.2rem;
	height: 1rem;
	opacity: 0.6;
}

.icon:hover {
	opacity: 1;
}

.titol-enllac {
	color: #bf0000;
}

.flash {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	text-align: center;
	background-color: rgba(191, 0, 0, 0.2);
	z-index: 5;
}

.flash-message {
	font: 400 1rem/3rem 'Open Sans', sans-serif;
	color: #bf0000;
}

.table {
	margin: 1rem auto;
	border-collapse: collapse;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.table-header .header-row {
	background-color: #333;
	color: #fff;
	font-weight: 600;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	margin-top: 1rem;
}

.row,
.header-row {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 0.5rem;
	border-top: 1px solid #eee;
}

.row-category {
	background-color: rgba(255, 98, 0, 0.2);
	color: #ff6200;
	padding-left: 1rem;
}

.big-cell {
	width: 400px;
}

.medium-cell {
	width: 200px;
}

.small-cell {
	width: 100px;
}

.tiny-cell {
	width: 1rem;
	height: 1rem;
}

.unfold {
	background: url('../img/less.svg') no-repeat;
	background-size: cover;
}

.more {
	background: url('../img/more.svg') no-repeat;
	background-size: cover;
}

.cell {
	padding: 0 0.5rem;
}

.clear {
	clear: left;
}

button,
input[type=submit] {
	float: left;
	clear: right;
	min-width: 100px;
	margin: 1rem;
	margin-left: 0;
    background-color: #fff;
    color: #bf0000;
	font: 600 0.9rem 'Open Sans', sans-serif;
    border: 2px solid #bf0000;
    padding: 0.3rem 0.6rem;
    transition: background-color 0.2s, color 0.2s;
}

button:hover,
input[type=submit]:hover {
    background-color: #bf0000;
    color: #fff;
}

button:active,
button:focus,
input[type=submit]:active,
input[type=submit]:focus {
	outline: 0;
    background-color: #ff1919;
    border: 2px solid #ff1919;
    color: #fff;
}

.tree-first,
.tree-second,
.tree-third {
	font: 400 0.9rem 'Open Sans', sans-serif;
	margin-bottom: 0;
}

.tree-second,
.tree-third {
	padding-left: 2rem;
}

.value {
	color: #bf0000;
}

.error-message {
	padding: 1rem;
	font: 600 1.5rem 'Open Sans', sans-serif;
	color: #bf0000;
}

.special {
	font: 20rem 'Open Sans', sans-serif;
	color: #f9f9f9;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.members {
	display: none;
	padding-left: 1rem;
	background-color: #f5f5f5;
	color: #bf0000;
}

.member {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0.5rem;
	border-top: 1px solid #fff;

}

.member-header {
	background-color: rgba(51, 51, 51, 0.4);
	color: #fff;
	font-weight: 600;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0.2rem;
}

.form-member {
	width: 100%;
	display: flex;
	margin: 0;
}

.form-member .cell {
	padding-left: 0;
}

.form-member input {
	margin: 0;
	font: 400 1rem 'Open Sans', sans-serif;
	padding: 0.2rem 0.5rem;
}

.form-member input[type='image'] {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}


