{% extends "layout.html" %}
{% block content %}

<h1>Hosts</h1>
<h2>Editar Host</h2>

<div class="wrapper-object">

	<form action="{{ url_for('editHost', host_uid=host.uid) }}" method="POST">

		<ul>

			<li>Esteu editant el host <span class="red">{{ host.name }}</span></li>

			<li>{{ form.ip_address.label }} {{ form.ip_address(size=15, placeholder=host.ip_address) }}</li>
			{% if form.ip_address.errors %}
				{% for error in form.ip_address.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
			{% endif %}

		</ul>
		<input type="submit" value="Enviar">

	</form>

    <a href="{{ url_for('showHosts') }}"><button>Tornar</button></a>

</div>

{% endblock %}
