{% extends "layout.html" %}
{% block content %}

<!-- get flash messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="flash">
            <div class="flash-message">{{ message }}</div>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <h2>User actions</h2>
    <div class="home-link">
        <a href="{{ url_for('login') }}" class="titol-enllac">Login</a> |
        <a href="{{ url_for('logout') }}" class="titol-enllac">Logout</a>
    </div>
    <p>Session: <span style="color:red">{{ session.sid }}</span></p>
    <div>Actions pending: {% if changes %}{{ changes }}{% endif %}</div>
    <div class="home-link">
        <a href="{{ url_for('publish') }}" class="titol-enllac">Publish</a> |
        <a href="{{ url_for('discard') }}" class="titol-enllac">Discard</a>
    </div>

    <h2>Hosts actions</h2>
    <div class="home-link">
        <a href="{{ url_for('showHosts') }}">Show Hosts</a>
    </div>
    <div class="home-link">
    	<a href="{{ url_for('addHost') }}">Add Host</a>
    </div>
    <div class="home-link">
        <a href="#" id="smartview">Smartview</a>
    </div>



{% endblock %}