{% extends "layout.html" %}
{% block content %}

<!-- get flash messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="flash">
            <div class="flash-message">{{ message }}</div>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <h2>Accions d'Usuari</h2>
    <div>
        <a href="{{ url_for('login') }}" class="titol-enllac">Login</a> |
        <a href="{{ url_for('logout') }}" class="titol-enllac">Logout</a>
    </div>
    <p>Sessió: <span style="color:red">{{ session.sid }}</span></p>
    <div><a href="{{ url_for('sessionClear') }}" class="titol-enllac">session.clear()</a></div>
    <div>Accions pendents: {% if session.changes %}{{ session.changes }}{% else %}0{% endif %}</div>
    <div>
        <a href="{{ url_for('publish') }}" class="titol-enllac">Publicar</a> |
        <a href="{{ url_for('discard') }}" class="titol-enllac">Descartar</a>
    </div>

    <h2>Accions de Hosts</h2>
    <div>
        <a href="{{ url_for('showHosts') }}">Mostrar Hosts</a>
    </div>
    <div>
        <a href="{{ url_for('addHost') }}">Afegir Host</a>
    </div>

    <h2>Accions d'Aplicacions</h2>
    <div>
        <a href="{{ url_for('showApplicationSites') }}">Mostrar Aplicacions</a>
    </div>
    <div>
        <a href="{{ url_for('addApplicationSite') }}">Afegir Aplicació</a>
    </div>



{% endblock %}