<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Checkpoint</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

	<header>
		<nav>
			<div class="nav-data">
		        <a href="{{ url_for('publish') }}" class="publish negative">Publish</a>
			    <div class="publish-num">
			    {% if changes %}
			    	{{ changes }}
			    {% else %}
			    	0
			    {% endif %}
			    </div>
			    <a href="{{ url_for('discard') }}" class="publish negative">Discard</a>
			</div>
			<div class="login">
				{% if user %}
				<div class="user">{{ user }}</div>
				{% else %}
				<a href="{{ url_for('register') }}" class="negative">Login</a>
				{% endif %}
			</div>
		</nav>
	</header>

	<div class="container">
		{% block content %}{% endblock %}
	</div>

	<footer></footer>

</body>
</html>