{% extends "layout.html" %}
{% block content %}

<h1>Hosts</h1>
<h2>Create new Host</h2>

<div class="wrapper-host">

	<form action="{{ url_for('addHost') }}" method="POST">

		<ul>

			<li>{{ form.name.label }} {{ form.name(size=15) }}</li>
			{% if form.name.errors %}
				{% for error in form.name.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
			{% endif %}

			<li>{{ form.ip_address.label }} {{ form.ip_address(size=15) }}</li>
			{% if form.ip_address.errors %}
				{% for error in form.ip_address.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
			{% endif %}

		</ul>
		<input type="submit" value="Send">

	</form>

    <a href="{{ url_for('showHosts') }}"><button>Back</button></a>

</div>

{% endblock %}
