{% extends "layout.html" %}
{% block content %}
    <h1>Hosts</h1>

    <div class="wrapper-object">
    <!-- get flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="flash">
                <div class="flash-message">{{ message }}</div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

        {% if apps %}
        <div class="table-header">
            <div class="header-row">
                <div class="cell medium-cell">Nom</div>
                <div class="cell big-cell">Llista URLs</div>
                <div class="cell big-cell">Descripció</div>
            </div>
        </div>

        <div class="table">
            {% for app in apps %}
            <div class="row">
                <div class="cell medium-cell">{{ app.name }}</div>
                <div class="cell big-cell">{{ app.url_list }}</div>
                <div class="cell big-cell">{{ app.description }}</div>
                <div class="cell small-cell center">
                    <a href="{{ url_for('editApplicationSite', app_uid=app.uid) }}">
                        <img src="{{ url_for('static', filename='img/edit.svg') }}" class="icon" alt="Edit">
                    </a>
                </div>
                <div class="cell small-cell center">
                    <a href="{{ url_for('deleteApplicationSite', app_uid=app.uid) }}">
                        <img src="{{ url_for('static', filename='img/garbage.svg') }}" class="icon" alt="Delete">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <a href="{{ url_for('addApplicationSite') }}"><button>Afegir Aplicació</button></a>
        <a href="{{ url_for('home') }}"><button>Tornar</button></a>
    </div>
{% endblock %}