{%- extends "layout.html" -%}
{%- block content -%}

<h1>Bloquejar accés per equips i URLs</h1>

<div class="wrapper-object">

    {%- if group -%}
    <div class="table-header">
        <div class="header-row">
            <div class="cell tiny-cell"></div>
            <div class="cell big-cell">Nom</div>
        </div>
    </div>

    <div class="table">
        <div class="row app-group">
            <div class="cell tiny-cell unfold more" data-uid={{ group.uid }} data-route={{ 'show-group-members' }}></div>
            <div class="cell big-cell">{{ group.name[10:] }}</div>
        </div>
        <div class="members" data-group={{ group.uid }}></div>
    </div>
    {%- endif -%}

    {%- if app_list -%}
    <div class="table-header">
        <div class="header-row">
            <div class="cell tiny-cell"></div>
            <div class="cell big-cell">Nom</div>
        </div>
    </div>

    <div class="table">
        <div class="row app-group">
            <div class="cell tiny-cell unfold more" data-uid={{ app_list.uid }} data-route={{ 'show-app-group-content' }}></div>
            <div class="cell big-cell">{{ app_list.name[10:] }}</div>
        </div>
        <div class="members" data-group={{ app_list.uid }}></div>
    </div>
    {%- endif -%}

    <a href="{{ url_for('home') }}"><button>Tornar</button></a>

</div>

{%- endblock -%}
