{% extends "layout.html" %}
{% block content %}

<h1>{{ className }}</h1>
<h2>Esborrar {{ className }}</h2>

<form action="{{ url_for('delete', className=className, action=action, object_uid=object.uid) }}" method="POST">
	<ul>
		<li>Voleu esborrar el següent host?</li>

		{% for key, value in object.__dict__.items() %}
		<li>{{ key }}: <span class="red">{{ value }}</span></li>
		{% endfor %}

	</ul>
	<input type="submit" value="Si">
</form>
<a href="{{ url_for('show', className=className, action='show'+action[6:]+'s') }}"><button>No</button></a>

{% endblock %}
