{% extends "layout.html" %}
{% block content %}

<h1>Aplicacions</h1>
<h2>Esborrar aplicació</h2>

<form action="{{ url_for('deleteApplicationSite', group_id=group_id, object_uid=object.uid) }}" method="POST">
	<ul>
		<li>
			Voleu esborrar l'aplicació <span class="red">{{ object.name }}</span> amb URL <span class="red">{{ object.url_list }}</span>?
		</li>
	</ul>
	<input type="submit" value="Si">
</form>
<a href="{{ url_for('showApplicationSiteGroups') }}"><button>No</button></a>

{% endblock %}
