{% extends "layout.html" %}
{% block content %}

<h1>Hosts</h1>
<h2>Eliminar host</h2>

<form action="{{ url_for('deleteHost', group_id=group_id, object_uid=object.uid) }}" method="POST">
	<ul>
		<li>Voleu eliminar el següent host?</li>

		<li>Nom: <span class="red">{{ object.name[5:] }}</span></li>
		<li>Adreça IP: <span class="red">{{ object.ipv4_address }}</span></li>

	</ul>
	<input type="submit" value="Si">
</form>
<a href="{{ url_for('showGroups') }}"><button>No</button></a>

{% endblock %}
