{%- extends "layout.html" -%}
{%- block content -%}

<h1>Hosts</h1>
<h2>Editar host: {{ object.name }}</h2>

<div class="wrapper-object">

	{% if form %}
	<form action="{{ url_for('setHost', object_uid=object.uid, url_back=url_back) }}" method="POST">

		<ul>
			<li>{{ form.name.label }}</li>
			<li>{{ form.name (size=30, placeholder=object.name) }}</li>
			{% if form.name.errors %}
				{% for error in form.name.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
			{% endif %}
			<li>{{ form.ipv4_address.label }}</li>
			<li>{{ form.ipv4_address (size=20, placeholder=object.ipv4_address) }}</li>
			{% if form.ipv4_address.errors %}
				{% for error in form.ipv4_address.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
			{% endif %}
		</ul>
		<input type="submit" value="Enviar">

	</form>
	{% endif %}

    <a href="{{ url_for(url_back) }}"><button>Tornar</button></a>

</div>

{% endblock %}
