{%- extends "layout.html" -%}
{%- block content -%}

<h1>Grups</h1>
<h2>Editar grup</h2>

<div class="wrapper-object">

	{%- if form -%}
	<form action="{{ url_for('setGroup', object_uid=object.uid) }}" method="POST">

		<ul>
			<li>Esteu editant el grup <span class="red">{{ object.name[3:] }}</span></li>
			<li>{{ form.name.label }}</li>
			<li>{{ form.name (size=25, placeholder=object.name[3:]) }}</li>
			{%- if form.name.errors -%}
				{%- for error in form.name.errors -%}
					<span class="error">{{ error }}</span>
				{%- endfor -%}
			{%- endif -%}

		</ul>
		<input type="submit" value="Enviar">

	</form>
	{%- endif -%}

    <a href="{{ url_for('showGroups') }}"><button>Tornar</button></a>

</div>

{%- endblock -%}
