{% extends "layout.html" %}
{% block content %}

<h1>Xarxes</h1>
<h2>Editar xarxa: {{ object.name }}</h2>

<div class="wrapper-object">

	{% if form %}
	<form action="{{ url_for('setNetwork', object_uid=object.uid) }}" method="POST">

		<ul>
			<li>{{ form.name.label }}</li>
			<li>{{ form.name (size=20, placeholder=object.name) }}</li>
			{% if form.name.errors %}
				{% for error in form.name.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
			{% endif %}
			<li>{{ form.subnet4.label }}</li>
			<li>{{ form.subnet4 (size=30, placeholder=object.subnet4) }}</li>
			{% if form.subnet4.errors %}
				{% for error in form.subnet4.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
			{% endif %}
			<li>{{ form.subnet_mask.label }}</li>
			<li>{{ form.subnet_mask (size=30, placeholder=object.subnet_mask) }}</li>
			{% if form.subnet_mask.errors %}
				{% for error in form.subnet_mask.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
			{% endif %}
		</ul>
		<input type="submit" value="Enviar">

	</form>
	{% endif %}

    <a href="{{ url_for('showGroups') }}"><button>Tornar</button></a>

</div>

{% endblock %}
