{%- extends "layout.html" -%}
{%- block content -%}

<h1>URLs</h1>
<h2>Editar URLs</h2>

<div class="wrapper-object">

	{%- if form -%}
	<form action="{{ url_for('setApplicationSite', object_uid=object.uid, url_back=url_back) }}" method="POST">

		<ul>
			<li>Esteu editant la URL <span class="red">{{ object.name }}</span></li>
			<li>{{ form.name.label }}</li>
			<li>{{ form.name (size=30, placeholder=object.name) }}</li>
			{%- if form.name.errors -%}
				{%- for error in form.name.errors -%}
					<span class="error">{{ error }}</span>
				{%- endfor -%}
			{%- endif -%}
			<li>{{ form.url_list.label }}</li>
			<li>{{ form.url_list (size=30, placeholder=object.url_list) }}</li>
			{%- if form.url_list.errors -%}
				{%- for error in form.url_list.errors -%}
					<span class="error">{{ error }}</span>
				{%- endfor -%}
			{%- endif -%}
		</ul>
		<input type="submit" value="Enviar">

	</form>
	{%- endif -%}

    <a href="{{ url_for(url_back) }}"><button>Tornar</button></a>

</div>

{%- endblock -%}
