{% extends "layout.html" %}
{% block content %}

<h1>{{ className+'s' }}</h1>
<h2>Editar {{ clasName }}</h2>

<div class="wrapper-object">

	<form action="{{ url_for('edit', className=className, action=action, object_uid=object.uid) }}" method="POST">

		<ul>

			<li>Esteu editant l'element <span class="red">{{ className }}</span></li>

			{% for element in form %}
			<li>{{ element.label }} {{ element (placeholder=object.name) }}</li>
			{% if element.errors %}
				{% for error in element.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
			{% endif %}
			{% endfor %}

		</ul>
		<input type="submit" value="Enviar">

	</form>

    <a href="{{ url_for('show', className=className, action='show'+action[3:]+'s') }}"><button>Tornar</button></a>

</div>

{% endblock %}
