{% extends "layout.html" %}
{% block content %}

<h1>Grup d'aplicacions</h1>
<h2>Editar grup d'aplicacions</h2>

<div class="wrapper-object">

	{% if form %}
	<form action="{{ url_for('setApplicationSiteGroup', object_uid=object.uid) }}" method="POST">

		<ul>
			<li>Esteu editant el grup d'aplicacions <span class="red">{{ object.name }}</span></li>
			<li>{{ form.name.label }}</li>
			<li>{{ form.name (size=25, placeholder=object.name) }}</li>
			{% if form.name.errors %}
				{% for error in form.name.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
			{% endif %}

		</ul>
		<input type="submit" value="Enviar">

	</form>
	{% endif %}

    <a href="{{ url_for('showApplicationSiteGroups') }}"><button>Tornar</button></a>

</div>

{% endblock %}
