{% block header %}

	<nav>
		<div class="nav-home">
			<a href="{{ url_for('home') }}" class="negative">Home</a>
		</div>
		<div class="nav-data">
	        <a href="{{ url_for('publish') }}" class="negative">Publicar</a>
		    <span class="publish-num">
			    {% if session.changes %}
			    	{{ session.changes }}
			    {% else %}
			    	0
			    {% endif %}
		    </span>
		    <a href="{{ url_for('discard') }}" class="negative">Descartar</a>
		</div>
		<div class="nav-login">
			{% if session.username %}
			<div>
				<span class="user">{{ session.username }}</span>
				<a href="{{ url_for('logout') }}" class="negative">Logout</a>
			</div>
			{% else %}
			<a href="{{ url_for('login') }}" class="negative">Login</a>
			{% endif %}
		</div>
	</nav>

{% endblock %}
