{%- block header -%}
<div class="loading">
    <img src="{{url_for('static', filename='img/loading.gif')}}" alt="Loading">
</div>
<nav>
	<div class="nav-home">
		{%- if not home -%}
			<a href="{{url_for('home')}}" class="negative">Inici</a>
		{%- endif -%}
	</div>
	<div class="nav-data">
		<a href="{{url_for('installPolicy')}}"><button class="header-button">Instal·lar política</button></a>
	</div>
	<div class="nav-login">
		{%- if session.username -%}
			<div>
				Usuari: <span class="user">{{session.username}}</span>
				<a href="{{url_for('logout')}}" class="negative">Sortir</a>
			</div>
		{%- else -%}
			<a href="{{url_for('login')}}" class="negative">Log In</a>
		{%- endif -%}
	</div>
</nav>
{%- endblock -%}
