{%- extends "layout.html" -%}
{%- block content -%}

    <h3>Accions</h3>

    <ul>
        <li class="menu-options">
            <a href="{{ url_for('blockAccess') }}">Bloquejar accés per equips i URLs</a>
        </li>
        <li class="menu-options">
            <a href="{{ url_for('allowURL') }}">Permetre URLs per grups (VIPs i Medium)</a>
        </li>
        <li class="menu-options">
          <a href="{{ url_for('manageGroups') }}">Gestionar grups (VIPs i Medium)</a>
        </li>
        <li class="menu-options">
            <a href="{{ url_for('smartview') }}">Accés a SmartView</a>
        </li>
        <li class="menu-options">
            <a href="{{ url_for('installPolicy') }}">Instal·lar política</a>
        </li>
    </ul>

{%- endblock -%}
