{%- extends "layout.html" -%}
{%- block content -%}

    <div class="container-home">

        <div class="h1-home">Accions</div>

        <ul>
            <li class="menu-options-home">
                <a href="{{ url_for('blockAccess') }}">Bloquejar accés per equips i URLs</a>
            </li>
            <li class="menu-options-home">
                <a href="{{ url_for('allowURL') }}">Permetre URLs i aplicacions</a>
            </li>
            <li class="menu-options-home">
              <a href="{{ url_for('manageGroups') }}">Gestionar grups (VIP i Medium)</a>
            </li>
        </ul>
    </div>

{%- endblock -%}
