{% block bar %}

<div class="left-bar-content">

    <h3>Accions</h3>
    <div>
        <a href="{{ url_for('addAccessRule') }}">Permetre accés</a>
    </div>
    <div>
        <a href="{{ url_for('showHosts') }}">Bloquejar host</a>
    </div>
    <div>
        <a href="{{ url_for('showGroups') }}">Gestionar grups</a>
    </div>
    <div>
        <a href="{{ url_for('showApplicationSiteGroups') }}">Gestionar grups d'URLs</a>
    </div>

    <h3>Taules</h3>
    <div>
        <a href="{{ url_for('showNetworks') }}">Xarxes</a>
    </div>
    <div>
        <a href="{{ url_for('showAccessRules') }}">Regles</a>
    </div>

</div>

{% endblock %}