{%- block bar -%}

<div class="menu">

    <div class="menu-option">
        <a href="{{ url_for('blockIP') }}">
            <img class="option-icon" src="{{ url_for('static', filename='img/block-ip.svg') }}" alt="">
        </a>
    </div>
    <div class="menu-option">
        <a href="{{ url_for('blockURL') }}">
            <img class="option-icon" src="{{ url_for('static', filename='img/block-url.svg') }}" alt="">
        </a>
    </div>
    <div class="menu-option">
        <a href="{{ url_for('blockAppl') }}">
            <img class="option-icon" src="{{ url_for('static', filename='img/block-app.svg') }}" alt="">
        </a>
    </div>
    <div class="menu-option">
        <a href="{{ url_for('smartview') }}">
            <img class="option-icon" src="{{ url_for('static', filename='img/smartview.svg') }}" alt="">
        </a>
    </div>

    <!-- get flash messages -->
    {%- with messages = get_flashed_messages() -%}
    {%- if messages -%}
    {%- for message in messages -%}
    <div class="flash">
        <div class="flash-message">{{ message }}</div>
    </div>
    {%- endfor -%}
    {%- endif -%}
    {%- endwith -%}

</div>

{%- endblock -%}
