{% extends "layout.html" %}
{% block content %}

<h1>Aplicacions</h1>
<h2>Crear aplicació</h2>

<div class="wrapper-object">

	{% if form %}
	<form action="{{ url_for('addApplicationSite', group_id=group_id, url_back=url_back) }}" method="POST">

		<ul>
			{% for element in form %}
			<li>{{ element.label }}</li>
			<li>{{ element (size=30) }}</li>
			{% if element.errors %}
				{% for error in element.errors %}
					<span class="error">{{ error }}</span>
				{% endfor %}
			{% endif %}
			{% endfor %}
		</ul>
		<input type="submit" value="Enviar">

	</form>
    {% endif %}

    <a href="{{ url_for(url_back) }}"><button>Tornar</button></a>

</div>

{% endblock %}
