{% extends "layout.html" %}
{% block content %}

<h1>Regles d'accés</h1>
<h2>Crear regla</h2>

<div class="wrapper-object">

	{% if form %}
	<form action="{{ url_for('addAccessRule') }}" method="POST">

		<div class="rules">

			<div class="rules-name">

				<div>{{ form.name.label }}</div>
				<div>{{ form.name (size=30) }}</div>
				{% if form.name.errors %}
					{% for error in form.name.errors %}
						<span class="error">{{ error }}</span>
					{% endfor %}
				{% endif %}

			</div>

			<div class="rules-select">

				<div class="rules-column">{{ form.source.label }}</div>
				<div class="rules-column">{{ form.service.label }}</div>
				<div class="rules-column">{{ form.action.label }}</div>

				<div class="rules-column">{{ form.source (size=1) }}</div>
				<div class="rules-column">{{ form.service (size=1) }}</div>
				<div class="rules-column">{{ form.action (size=1) }}</div>

				<div class="rules-column">
				{% if form.source.errors %}
					{% for error in form.source.errors %}
					<span class="error">{{ error }}</span>
					{% endfor %}
				{% endif %}
				</div>
				<div class="rules-column">
				{% if form.service.errors %}
					{% for error in form.service.errors %}
						<span class="error">{{ error }}</span>
					{% endfor %}
				{% endif %}
				</div>
				<div class="rules-column">
				{% if form.action.errors %}
					{% for error in form.action.errors %}
						<span class="error">{{ error }}</span>
					{% endfor %}
				{% endif %}
				</div>

				<div class="rules-column">
					<div id="group-detail"></div>
				</div>
				<div class="rules-column">
					<div id="app-group-detail"></div>
				</div>

			</div>

		</div>

		<input type="submit" value="Enviar">

	</form>
    {% endif %}

    <a href="{{ url_for('showAccessRules') }}"><button>Tornar</button></a>

</div>

{% endblock %}
