{% extends "layout.html" %}
{% block content %}

<h1>Regles</h1>

<div class="wrapper-object">

    {% if objects %}
    <div class="table-header">
        <div class="header-row">
            {% for object in objects[:1] %}
            {% for key, value in object.items() %}
            {% if key != 'uid' %}
            <div class="cell big-cell">{{ key }}</div>
            {% endif %}
            {% endfor %}
            {% endfor %}
            <div class="cell small-cell center">Editar</div>
            <div class="cell small-cell center">Esborrar</div>
        </div>
    </div>

    <div class="table">
        {% for object in objects %}
        <div class="row">
            {% for key, value in object.items() %}
            {% if key != 'uid' %}
            <div class="cell big-cell">{{ value }}</div>
            {% endif %}
            {% endfor %}
            <div class="cell small-cell center">
                <a href="{{ url_for('setAccessRule', object_uid=object.uid) }}">
                    <img src="{{ url_for('static', filename='img/edit.svg') }}" class="icon" alt="Edit">
                </a>
            </div>
            <div class="cell small-cell center">
                <a href="{{ url_for('deleteAccessRule', object_uid=object.uid) }}">
                    <img src="{{ url_for('static', filename='img/garbage.svg') }}" class="icon" alt="Delete">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <a href="{{ url_for('home') }}"><button>Tornar</button></a>

{% include "sample-object.html" %}
{% block object %}{% endblock %}


</div>

{% endblock %}