{%- extends "layout.html" -%}
{%- block content -%}

<h1>Permetre URLs i aplicacions per grups (VIP i Medium)</h1>

<div class="wrapper-object">

    <div class="table-header">
        <div class="header-row">
            <div class="cell tiny-cell"></div>
            <div class="cell big-cell">Llistes d'URLs</div>
        </div>
    </div>

    <div class="table">

        <div class="row app-group">
            <div class="cell tiny-cell unfold more" data-uid={{ url_vip.uid }} data-route={{'show-app-group-content' }} data-url-back={{ url_back }}></div>
            <div class="cell big-cell">{{ url_vip.name[10:] }}</div>
        </div>
        <div class="members" data-group={{ url_vip.uid }}></div>

        <div class="row app-group">
            <div class="cell tiny-cell unfold more" data-uid={{ url_medium.uid }} data-route={{'show-app-group-content' }} data-url-back={{ url_back }}></div>
            <div class="cell big-cell">{{ url_medium.name[10:] }}</div>
        </div>
        <div class="members" data-group={{ url_medium.uid }}></div>

    </div>

    <div class="table-header">
        <div class="header-row">
            <div class="cell tiny-cell"></div>
            <div class="cell big-cell">Llistes d'aplicacions</div>
        </div>
    </div>

    <div class="table">

        <div class="row app-group">
            <div class="cell tiny-cell unfold more" data-uid={{ app_vip.uid }} data-route={{'show-app-group-content-not-add' }} data-url-back={{ url_back }}></div>
            <div class="cell big-cell">{{ app_vip.name[10:] }}</div>
        </div>
        <div class="members" data-group={{ app_vip.uid }}></div>

        <div class="row app-group">
            <div class="cell tiny-cell unfold more" data-uid={{ app_medium.uid }} data-route={{'show-app-group-content-not-add' }} data-url-back={{ url_back }}></div>
            <div class="cell big-cell">{{ app_medium.name[10:] }}</div>
        </div>
        <div class="members" data-group={{ app_medium.uid }}></div>

    </div>

    <a href="{{ url_for('home') }}"><button>Tornar</button></a>

</div>

{%- endblock -%}
