{% extends "layout.html" %}
{% block content %}

<h1>Grups</h1>

<div class="wrapper-object">

    {% if objects %}
    <div class="table-header">
        <div class="header-row">
            <div class="cell tiny-cell"></div>
            <div class="cell big-cell">Nom</div>
            <div class="cell small-cell center">Editar</div>
            <div class="cell small-cell center">Esborrar</div>
        </div>
    </div>

    <div class="table">
        {% for object in objects %}
        <div class="row app-group">
            <div class="cell tiny-cell unfold more" data-uid={{ object.uid }} data-route={{ 'show-group-members' }}></div>
            <div class="cell big-cell">{{ object.name }}</div>
            <div class="cell small-cell center">
                <a href="{{ url_for('setGroup', object_uid=object.uid) }}">
                    <img src="{{ url_for('static', filename='img/edit.svg') }}" class="icon" alt="Edit">
                </a>
            </div>
            <div class="cell small-cell center">
                <a href="{{ url_for('deleteGroup', object_uid=object.uid) }}">
                    <img src="{{ url_for('static', filename='img/garbage.svg') }}" class="icon" alt="Delete">
                </a>
            </div>
        </div>
        <div class="members" data-group={{ object.uid }}></div>
        {% endfor %}
    </div>
    {% endif %}

    <a href="{{ url_for('addGroup') }}"><button>Afegir</button></a>
    <a href="{{ url_for('home') }}"><button>Tornar</button></a>

</div>

{% endblock %}
