<!-- select app form -->
<div class="form-member-title">Triar una aplicació existent</div>
<div class="member">
    <form class="form-member" action="{{ url_for('addExistingApplication', app_list=app_list, url_back=url_back) }}" method="POST">
        <div class="cell big-cell">{{ form_select_app.name (size=1) }}</div>
        <div class="cell medium-cell">
            <input type="submit" value="Afegir">
        </div>
    </form>
</div>

<div class="member-header">
    <div class="cell big-cell">Nom</div>
    <div class="cell small-cell center">Esborrar</div>
</div>

<!-- apps detail -->
{%- if apps -%}
{%- for appl in apps -%}
<div class="member">
    <div class="cell big-cell">{{ appl.name }}</div>
    <div class="cell small-cell center">
        <a href="{{ url_for('deleteApplication', app_list=app_list, object_uid=appl.uid, url_back=url_back) }}">
            <img src="{{ url_for('static', filename='img/garbage.svg') }}" class="icon" alt="Delete">
        </a>
    </div>
</div>
{%- endfor -%}
{%- else -%}
<div class="form-member-empty">Cap aplicació en aquesta llista</div>
{%- endif -%}
