{% extends "layout.html" %}
{% block content %}

<h1>App Grups</h1>

<div class="wrapper-object">

    {% if objects %}
    <div class="table-header">
        <div class="header-row">
            <div class="cell big-cell">Nom</div>
            <div class="cell medium-cell">Creat</div>
            <div class="cell medium-cell">Modificat</div>
            <div class="cell small-cell center">Editar</div>
            <div class="cell small-cell center">Esborrar</div>
        </div>
    </div>

    <div class="table">
        {% for object in objects %}
        <div class="row app-group" data-uid={{ object.uid }}>
            <div class="cell big-cell">{{ object.Nom }}</div>
            <div class="cell medium-cell">{{ object.Creat|datetimeformat }}</div>
            <div class="cell medium-cell">{{ object.Modificat|datetimeformat }}</div>
            <div class="cell small-cell center">
                <a href="{{ url_for('setApplicationSite', object_uid=object.uid) }}">
                    <img src="{{ url_for('static', filename='img/edit.svg') }}" class="icon" alt="Edit">
                </a>
            </div>
            <div class="cell small-cell center">
                <a href="{{ url_for('deleteApplicationSite', object_uid=object.uid) }}">
                    <img src="{{ url_for('static', filename='img/garbage.svg') }}" class="icon" alt="Delete">
                </a>
            </div>            
        </div>
        <div class="members" data-group={{ object.uid }}></div>
        {% endfor %}
    </div>
    {% endif %}

    <a href="{{ url_for('addApplicationSite') }}"><button>Afegir</button></a>
    <a href="{{ url_for('home') }}"><button>Tornar</button></a>

{% include "sample-object.html" %}
{% block object %}{% endblock %}

</div>

{% endblock %}
