{%- if objects -%}
{% for object in objects[0:] %}
<div class="member" data-uid={{ object.uid }}>
{% for key, value in object.items() %}
<div class="cell big-cell">{{ value }}</div>
{% endfor %}
<div class="cell small-cell center">
    <a href="{{ url_for('setApplicationSite', object_uid=object.uid) }}">
        <img src="{{ url_for('static', filename='img/edit.svg') }}" class="icon" alt="Edit">
    </a>
</div>
<div class="cell small-cell center">
    <a href="{{ url_for('deleteApplicationSite', object_uid=object.uid) }}">
        <img src="{{ url_for('static', filename='img/garbage.svg') }}" class="icon" alt="Delete">
    </a>
</div>
</div>
{% endfor %}
{% endif %}
