{% extends "layout.html" %}
{% block content %}
    <h1>Hosts</h1>

    <div class="wrapper-object">
    <!-- get flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="flash">
                <div class="flash-message">{{ message }}</div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

        {% if hosts %}
        <div class="table-header">
            <div class="header-row">
                <div class="cell medium-cell">Nom</div>
                <div class="cell medium-cell">Adreça IP</div>
                <div class="cell big-cell">Última modificació</div>
                <div class="cell small-cell center">Editar</div>
                <div class="cell small-cell center">Esborrar</div>
            </div>
        </div>

        <div class="table">
            {% for host in hosts %}
            <div class="row">
                <div class="cell medium-cell">{{ host.name }}</div>
                <div class="cell medium-cell">{{ host.ip_address }}</div>
                <div class="cell big-cell">{{ host.last_modify_time|datetimeformat }}</div>
                <div class="cell small-cell center">
                    <a href="{{ url_for('editHost', host_uid=host.uid) }}">
                        <img src="{{ url_for('static', filename='img/edit.svg') }}" class="icon" alt="Edit">
                    </a>
                </div>
                <div class="cell small-cell center">
                    <a href="{{ url_for('deleteHost', host_uid=host.uid) }}">
                        <img src="{{ url_for('static', filename='img/garbage.svg') }}" class="icon" alt="Delete">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <a href="{{ url_for('addHost') }}"><button>Afegir Host</button></a>
        <a href="{{ url_for('home') }}"><button>Tornar</button></a>
    </div>
{% endblock %}