{%- extends "layout.html" -%}
{%- block content -%}

<h1>Grups</h1>

<div class="wrapper-object">

    {%- if objects -%}
    <div class="table-header">
        <div class="header-row">
            <div class="cell tiny-cell"></div>
            <div class="cell big-cell">Nom</div>
        </div>
    </div>

    <div class="table">
        {%- for object in objects -%}
        <div class="row app-group">
            <div class="cell tiny-cell unfold more" data-uid={{ object.uid }} data-route={{ 'show-group-members' }}></div>
            <div class="cell big-cell">{{ object.name[10:] }}</div>
        </div>
        <div class="members" data-group={{ object.uid }}></div>
        {%- endfor -%}
    </div>
    {%- endif -%}

    <a href="{{ url_for('home') }}"><button>Tornar</button></a>

</div>

{%- endblock -%}
