{%- extends "layout.html" -%}
{%- block content -%}

<h1>Regles</h1>

<div class="wrapper-object">

    {%- if objects -%}
    <div class="table-header">
        <div class="header-row">
            <div class="cell big-cell">Nom</div>
            <div class="cell big-cell">Origen</div>
            <div class="cell big-cell">Aplicació</div>
            <div class="cell big-cell">Acció</div>
            <div class="cell small-cell center">Editar</div>
            <div class="cell small-cell center">Esborrar</div>
        </div>
    </div>

    <div class="table">
        {%- for object in objects -%}
        <div class="row">
            <div class="cell big-cell">{{ object.name }}</div>
            <div class="cell big-cell">{{ object.source[2:] }}</div>
            <div class="cell big-cell">{{ object.service }}</div>
            <div class="cell big-cell">{{ object.action }}</div>
            <div class="cell small-cell center">
                <a href="{{ url_for('setAccessRule', object_uid=object.uid) }}">
                    <img src="{{ url_for('static', filename='img/edit.svg') }}" class="icon" alt="Edit">
                </a>
            </div>
            <div class="cell small-cell center">
                <a href="{{ url_for('deleteAccessRule', object_uid=object.uid) }}">
                    <img src="{{ url_for('static', filename='img/garbage.svg') }}" class="icon" alt="Delete">
                </a>
            </div>
        </div>
        {%- endfor -%}
    </div>
    {%- endif -%}

    <a href="{{ url_for('addAccessRule') }}"><button>Afegir</button></a>
    <a href="{{ url_for('home') }}"><button>Tornar</button></a>

{%- include "sample-object.html" -%}
{%- block object -%}{%- endblock -%}


</div>

{%- endblock -%}