<!-- Hosts form -->
<div class="form-member-title">Triar un host existent...</div>
<div class="member">
    <form class="form-member" action="{{ url_for('addHost', group_id=group_id) }}" method="POST">
        <div class="cell big-cell">{{ form_select_host.name (size=1) }}</div>
        <div class="cell big-cell">
            <input type="image" name="submit" src="{{ url_for('static', filename='img/accept.svg') }}" alt="Enviar" class="icon">
        </div>
    </form>
</div>
<div class="form-member-title">... o afegir un host nou</div>
<div class="member">
    <form class="form-member" action="{{ url_for('addHost', group_id=group_id) }}" method="POST">
    {%- for element in form_host -%}
        <div class="cell medium-cell">{{ element (size=20) }}</div>
        {%- if element.errors -%}
            {%- for error in element.errors -%}
            <span class="error">{{ error }}</span>
            {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}
        <div class="cell small-cell center">
            <input type="image" name="submit" src="{{ url_for('static', filename='img/accept.svg') }}" alt="Enviar" class="icon">
        </div>
        <div class="cell small-cell center"></div>
    </form>
</div>
<div class="member-header">
    <div class="cell medium-cell">Nom</div>
    <div class="cell medium-cell">Adreça IPv4</div>
    <div class="cell medium-cell"></div>
    <div class="cell small-cell center">Editar</div>
    <div class="cell small-cell center">Esborrar</div>
</div>

<!-- Hosts detail -->
{%- if hosts -%}
{%- for host in hosts -%}
<div class="member">
    <div class="cell medium-cell">{{ host.name[4:] }}</div>
    <div class="cell medium-cell">{{ host.ipv4_address }}</div>
    <div class="cell medium-cell"></div>
    <div class="cell small-cell center">
        <a href="{{ url_for('setHost', object_uid=host.uid) }}">
            <img src="{{ url_for('static', filename='img/edit.svg') }}" class="icon" alt="Edit">
        </a>
    </div>
    <div class="cell small-cell center">
        <a href="{{ url_for('deleteHost', group_id=group_id, object_uid=host.uid) }}">
            <img src="{{ url_for('static', filename='img/garbage.svg') }}" class="icon" alt="Delete">
        </a>
    </div>
</div>
{%- endfor -%}
{%- else -%}
<div class="form-member-empty">Cap host en aquest grup</div>
{%- endif -%}

<!-- Division -->
<div class="host-end"></div>

<!-- Networks form -->
<div class="form-member-title">Triar una xarxa existent...</div>
<div class="member">
    <form class="form-member" action="{{ url_for('addNetwork', group_id=group_id) }}" method="POST">
        <div class="cell big-cell">{{ form_select_network.name (size=1) }}</div>
        <div class="cell big-cell">
            <input type="image" name="submit" src="{{ url_for('static', filename='img/accept.svg') }}" alt="Enviar" class="icon">
        </div>
    </form>
</div>
<div class="form-member-title">... o afegir una xarxa nova</div>
<div class="member">
    <form class="form-member" action="{{ url_for('addNetwork', group_id=group_id) }}" method="POST">
    {%- for element in form_network -%}
        <div class="cell medium-cell">{{ element (size=20) }}</div>
        {%- if element.errors -%}
            {%- for error in element.errors -%}
            <span class="error">{{ error }}</span>
            {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}
        <div class="cell small-cell center">
            <input type="image" name="submit" src="{{ url_for('static', filename='img/accept.svg') }}" alt="Enviar" class="icon">
        </div>
        <div class="cell small-cell center"></div>
    </form>
</div>
<div class="member-header">
    <div class="cell medium-cell">Nom</div>
    <div class="cell medium-cell">Adreça IPv4 subxarxa</div>
    <div class="cell medium-cell">Màscara subxarxa</div>
    <div class="cell small-cell center">Editar</div>
    <div class="cell small-cell center">Esborrar</div>
</div>

<!-- Networks detail -->
{%- if networks -%}
{%- for network in networks -%}
<div class="member">
    <div class="cell medium-cell">{{ network.name[3:] }}</div>
    <div class="cell medium-cell">{{ network.subnet4 }}</div>
    <div class="cell medium-cell">{{ network.subnet_mask }}</div>
    <div class="cell small-cell center">
        <a href="{{ url_for('setNetwork', object_uid=network.uid) }}">
            <img src="{{ url_for('static', filename='img/edit.svg') }}" class="icon" alt="Edit">
        </a>
    </div>
    <div class="cell small-cell center">
        <a href="{{ url_for('deleteNetwork', group_id=group_id, object_uid=network.uid) }}">
            <img src="{{ url_for('static', filename='img/garbage.svg') }}" class="icon" alt="Delete">
        </a>
    </div>
</div>
{%- endfor -%}
{%- else -%}
<div class="form-member-empty">Cap xarxa en aquest grup</div>
{%- endif -%}
