{%- extends "layout.html" -%}
{%- block content -%}

<div class="wrapper-content">

    <h1>Gestionar grups (VIPs i Medium)</h1>

    <div class="table-header">
        <div class="header-row">
            <div class="cell tiny-cell"></div>
            <div class="cell big-cell">Grups d'usuaris</div>
        </div>
    </div>

    <div class="table">
        <div class="row app-group">
            <div class="cell tiny-cell unfold more" data-uid={{ group_vip.uid }} data-route={{ 'show-group-members' }} data-url-back="{{ url_back }}"></div>
            <div class="cell big-cell">{{ group_vip.name[10:] }}</div>
        </div>
        <div class="members" data-group={{ group_vip.uid }}></div>
        <div class="row app-group">
            <div class="cell tiny-cell unfold more" data-uid={{ group_medium.uid }} data-route={{ 'show-group-members' }} data-url-back="{{ url_back }}"></div>
            <div class="cell big-cell">{{ group_medium.name[10:] }}</div>
        </div>
        <div class="members" data-group={{ group_medium.uid }}></div>
    </div>

    <a href="{{ url_for('home') }}"><button>Tornar</button></a>

</div>

{%- endblock -%}
