<!-- new host form -->
<div class="form-member-title">Afegir un equip nou</div>
<div class="member">
    <form class="form-member" action="{{ url_for('addHost', group_name=group_name, url_back=url_back) }}" method="POST">
        <div class="cell big-cell">{{ form.name (size=38) }}</div>
        {%- if form.name.errors -%}
            {%- for error in form.name.errors -%}
            <span class="error">{{ error }}</span>
            {%- endfor -%}
        {%- endif -%}
        <div class="cell medium-cell">{{ form.ipv4_address (size=20) }}</div>
        {%- if form.ipv4_address.errors -%}
            {%- for error in form.ipv4.errors -%}
            <span class="error">{{ error }}</span>
            {%- endfor -%}
        {%- endif -%}
        <div class="cell medium-cell center">
            <input type="submit" value="Afegir">
        </div>
        <div class="cell small-cell center"></div>
    </form>
</div>
<div class="member-header">
    <div class="cell big-cell">Nom</div>
    <div class="cell medium-cell">Adreça IPv4</div>
    <div class="cell small-cell center">Editar</div>
    <div class="cell small-cell center">Esborrar</div>
</div>

<!-- Hosts detail -->
{%- if members -%}
{%- for host in members -%}
<div class="member">
    <div class="cell big-cell">{{ host.name[10:] }}</div>
    <div class="cell medium-cell">{{ host.ipv4_address }}</div>
    <div class="cell small-cell center">
        <a href="{{ url_for('setHost', name=host.name, url_back=url_back) }}">
            <img src="{{ url_for('static', filename='img/edit.svg') }}" class="icon" alt="Edit">
        </a>
    </div>
    <div class="cell small-cell center">
        <a href="{{ url_for('deleteHost', name=host.name[5:], group_name=group_name, url_back=url_back) }}">
            <img src="{{ url_for('static', filename='img/garbage.svg') }}" class="icon" alt="Delete">
        </a>
    </div>
</div>
{%- endfor -%}

{%- else -%}
<div class="form-member-empty">Cap equip en aquest grup</div>
{%- endif -%}
